[Unit]
Description=OpenAIS Cluster Framework
ConditionKernelCommandLine=!nocluster
Requires=network.target
After=network.target
Before=corosync.service
Conflicts=corosync.service
Names=corosync-stack.service

[Install]
WantedBy=corosync.target

[Service]
Type=forking
PIDFile=/var/run/corosync.pid
KillMode=process
SysVStartPriority=21
EnvironmentFile=-/etc/sysconfig/openais
ExecStart=/usr/sbin/aisexec

# Pacemaker can only exit after all managed services have shut down
# A HA database could conceivably take even longer than this 
TimeoutSec=30min

# Restart options include: no, on-success, on-failure, on-abort or always
Restart=on-failure
